h1{
    margin-left: 100px;
    color: red;
}

h2{
    margin-left: 50px;
    color: blue;
}

h3{
    margin-left: 25px;
    color: green;
}

h4{
    margin-left: 12.5px;
    color: orange;
}

h5{
    margin-left: 6.25px;
    color: yellow;
}

h6{
    margin-left: 3.125px;
    color: pink;
}

